#navBarContainer {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid white;
  background-color: rgb(152, 241, 152);
  justify-content: space-between;
}

#secondContainerActually {
  width: 300px;
  display: flex;
}

#title {
  font-size: 34px;
  font-family: "Permanent Marker", cursive;
  position: relative;
  left: 60px;
}

.links {
  text-decoration: none;
  color: black;
  margin-right: 5px;
}

#secondContainer {
  display: flex;
  position: relative;
  top: 15px;

  font-size: 24px;
  font-family: "Merienda One", cursive;
}

.dropDownItem {
  margin-right: 8px;
  position: relative;
  top: 10px;
  text-decoration: none;
  color: black;
}

@media (max-width: 775px) {
  #title {
    display: none;
  }
  #secondContainer {
    width: 100%;
    right: 0;
    left: 20px;
  }
  #secondContainerActually {
    width: 100%;
  }
}

@media (max-width: 540px) {
  #secondContainer {
    font-size: 20px;
    top: 18px;
  }
}
