#userHomeContainer {
  display: flex;
}

#clubsSubscribedHalf {
  width: 60%;
}

#bookingsHalf {
  width: 40%;
}

.half {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 120px 0px 5px 0px;
}

.noClubsBookingsContainer {
  box-shadow: 0px 1px 4px black;
  z-index: 0;
  width: 350px;
  height: 130px;
  background-color: rgb(208, 255, 208);
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  position: relative;
  top: 12px;
}

.homeContainerClass {
  height: 93vh;
}

@media (max-width: 775px) {
  #clubsSubscribedHalf {
    position: relative;
    right: 50px;
  }
}

@media (max-width: 670px) {
  #userHomeContainer {
    flex-direction: column;
  }
  #bookingsHalf {
    width: 100%;
    order: 1;
  }
  #clubsSubscribedHalf {
    right: 0px;
    order: 2;
    width: 100%;
    margin-top: 50px;
  }
  .noClubsBookingsContainer {
    width: 320px;
    height: 160px;
    line-height: 22px;
  }
}

@media (max-height: 700px) and (min-height: 500px) and (max-width: 600px) {
  .homeContainerClass {
    height: 118vh;
  }
  .half {
    margin-top: 80px;
  }
}

@media (max-height: 900px) and (min-height: 700px) and (max-width: 600px) {
  .half {
    margin-top: 80px;
  }
}
